.information {
    width: 43vw;
    background: #303030;
    border: 1px solid #444444;
    border-radius: 10px;
    padding: 20px;
}

.info-img {
    width: 16vw;
    height: 12vw;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 3vw;
}

.short-info {
    display: flex;
}

.info-audio-player {
    width: 23vw;
    height: 40px;
    background: #F1F3F4;
    border-radius: 10px;
    margin-top: 20px;
}

.info-name-audio {
    width: 23vw;
}

.info-name-audio p {
    margin: 10px 0;
}

.info-name-audio hr {
    margin-bottom: 10px;
}